/build
/build-*
/docs/build/
/docs/build-cn/
/docs/source/generated
/cmake-build-*
/dist
/third_party/
log/
core.*
*.pyc
*.ipynb
*.egg-info
/.vscode
/.idea
/manylinux*
wheelhouse/
wheelhouse*
.DS_Store
/tmp_wheel
.clangd
compile_commands.json
.cache
/distributed-tmp
/serving-tmp
unittest-log-*
/tmp

/target
/devcontainer-cache

op_prof.csv
*.lock
